@media (max-width:414px) {

    body {
    }
}



@media (min-width:576px) {
    body {
        .section {
            max-width: 750px;
            .service-list {
                .row {
                    .first {
                        // min-height: 290px;
                        // max-height: 290px;
                        // height: 290px;
                    }
                }
            }
        }
    }
}


@media (min-width:768px) {

    body {
        .section {
            max-width: 750px;
            .service-list {
                .row {
                    .col-xl-3 {
                        a {
                            min-height:312px;
                        }
                    }
                    [class*='col-'] {
                        a {
                            .p {
                                min-height: 66px;
                            }
                        }
                    }
                }
            }
        }
        .latest-articles {
            .section {
                .container {
                    .article-list {
                        .row {

                                .col-xl-4 {

                                        &:nth-child(3n) {

                                            display:none;

                                        }

                                }


                        }
                    }
                }
            }
        }
    }
   
}

@media (min-width:992px) {

    body {
        .section {
            max-width: 970px;
            .service-list {
                .row {
                    .col-xl-3 {
                        a {
                            min-height:290px;
                        }
                    }
                }
            }
        }   
        .brand-background-container {
            height: 493px;
            .brand-background {
                background-image:url("/assets/branded.png");
                background-repeat: no-repeat;
                background-position: center center;
                //background-attachment: fixed;
                background-size: cover;
                height: 100%;
                .container {
                    height: 100%;
                    .row {
                        height: 100%;
                        [class*='col-'] {
                            height: 100%;
                            //height: 399px;
                            //flex:unset;
                            //max-width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
        .sidebar {
            width:350px;
            .sidebar-main {
                display: none;
            }
            .sidebar-menu {
                .support {
                    display: block;
                }
            }
        }
    }

}  

@media (min-width:1260px) {

    body {
        .section {
            max-width:1200px;
            .service-list {
                .row {
                    .col-xl-3 {
                        a {
                            min-height:312px;
                        }
                    }
                }
            }
        }
        .brand-background-container {
            height: 553px;
            height: 100%;
            .brand-background {
                .container {
                    max-width: 1200px;
                    width: 1200px;
                }
            }
        }
        .latest-articles {
            .bar {
                .container {
                    max-width: 1200px;
                    width: 1200px;
                }
            }
            .section {
                width: 100%;
                .container {
                    margin: 0 auto;
                    max-width: 1200px;
                    width: 1200px;
                    .article-list {
                        .row {

                                .col-xl-4 {

                                        &:nth-child(3n) {

                                            display:block;

                                        }

                                }


                        }
                    }
                }
            }
        }
    }
}

