// Import Variables
@import 'variables';

// Import Mixins
@import '_mixins.scss';

.main {
    transition: all .5s;
    z-index: 9999999;
    position: relative;
    overflow: auto;
    background-color: white;
    .overlay {
        position: relative;
        //background-color: rgba(0,0,0,.5);
        z-index: 1;
    }

    &:after {

        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: rgba(0,0,0,.4);
        z-index: 10;
        content: "";
        opacity: 0;
        transition: opacity .5s,width .1s .5s,height .1s .5s;

    }
}

body {

    &.menu-active {

        .main {

            &:after {

                width: 100%;
                height: 100%;
                opacity: 1;
                transition: opacity .5s;

            }

        }

    }
    
    .banner {
        border-top:1px solid rgba(51,54,69,.5);
        position: relative;
        .background-img {
            overflow: hidden;
            background:url('/Assets/home-3wAI.jpg') no-repeat;
            background-size:cover;
            background-position:center center;
            height: 531px;
        }
        .content-container {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 15px;
            text-align: center;
            .container {
                margin-left: auto;
                margin-right: auto;
                padding-left:15px;
                padding-right:15px;
                .text {
                    display: block;
                    color: #fff;
                    .h1 {
                        text-transform: uppercase;
                        font-size: 48px;
                        margin: 0 0 25px;
                        font-weight: 400px;
                        line-height: 1.1;
                    }
                    p {
                        font-size: 20px;
                        margin: 0 0 35px;
                    }
                    .btn-web {
                        color: #fff;
                        background-color: #926fb1;
                        line-height: 50px;
                        height: auto;
                        padding: 5px 15px;
                        font-size: 20px;
                        text-transform: uppercase;
                        border-radius: 3px;
                        white-space: normal;
                        display: inline-block;
                        margin-bottom: 0;
                        text-align: center;
                        vertical-align: middle;
                        &:hover {
                            background-color: #79539a;
                        }
                    }
                }
            }
        }
    }


    .section {
        padding-top:50px;
        padding-bottom: 50px;
        .service-list {
            .row {
                .col-xl-3 {
                    a {
                        min-height: 379px;
                    }    
                }
                [class*='col-'] {
                    a {
                        min-height: 290px;
                    }
                    .block {
                        text-align: center;
                        width: 100%;
                        span {
                            display: block;
                        }
                        color: #333645;
                        text-decoration: none;
                        display: block;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        padding: 30px;
                        box-shadow: 0 3px 35px rgba(0,0,0,.1); 
                        margin-top: 30px;
                        .icon-container {
                            height: 60px;
                            width: 60px;
                            margin: 0 auto 17px;
                            color: #fff;
                            border-radius: 50%;
                            .icon {
                                font-size: 18px;
                                line-height: 60px;
                            }
                        }
                        .h2 {
                            font-size: 18px;
                            position: relative;
                            padding-bottom: 17px;
                            margin: 0 0 11px;
                            &::after{
                                content: "";
                                position: absolute;
                                top: 33;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                margin: auto;
                                width: 28px;
                                height: 3px;
                                display: block;
                                background-color: #333645;
                            }
                        }
                        .p {
                            font-size: 13px;
                            line-height: 22px;
                            margin-bottom: 13px;
                            font-weight: 400;
                        }
                        .btn-container {
                            .btn {
                                display: inline-block;
                                height: auto;
                                line-height: 35px;
                                padding: 5px 15px;
                                text-transform: uppercase;
                                font-size: 1.063rem;
                                border-radius: 3px;
                                white-space: normal;
                                transition: 0s;
                            }
                        }
                    }
                }
            }
        }
    }
    }

    .brand-background-container {
        .brand-background {
            background-color: #333645;
            .container {
                padding: 50px 15px;
                margin: 0 auto;
                .row {
                    [class*='col-'] {
                        color: white;
                        line-height: 30px;
                        letter-spacing: 0.4px;
                        //text-align: justify;
                        //text-align: initial;
                        h1 {
                            font-size: 36px;
                            margin: -6px 0 28px 0;
                            text-transform: uppercase;
                        }
                        p {
                            font-size: 16px;
                            margin: 0 0 25px;
                        }
                        .p-bold {
                            font-weight: 600;
                        }
                        a {
                            display: block;
                            width: 173.2px;
                            text-decoration: none;
                            color: #333645;
                            background-color: white;
                            line-height: 35px;
                            padding: 5px 15px;
                            font-size: 17px;
                            border-radius: 3px;
                            &:hover {
                                opacity: 0.92;
                            }
                            i {
                                padding-left:12px;
                            }
                            
                        }
                    }
                }
            }
        }
    }


.latest-articles {
    .bar {
        box-shadow: 0 3px 35px rgba(0,0,0,.1);
        .container {
            margin: 0 auto;
            padding: 0 15px;
            
            .burger-line {
                .burger_line {
                    display: block;
                    height: 5px;
                    width: 71.81px;
                    background-color: #333645;
                    
                    /*
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color:#333645;
                    width: 71px;
                    height:5px;
                    */
                }
                p {
                    display: block;
                    color: #333645;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.4px;
                    padding: 40px 0 20px 0;
                    
                }
            }
        }
    }
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
        margin:0 auto;
        .container {
            margin: 0 auto;
            padding: 0 15px;
            .article-list {
                overflow: hidden;
                .row {
                    margin: 0 -15px;
                    [class*="col-"] {
                        .item {
                            min-height: 612px;        
                            .img-container {
                                position: relative;
                                border: 1px solid #ccc;
                                border-radius: 3px 3px 0 0;
                                overflow: hidden;
                                .category {
                                    position: absolute;
                                    top: 10px;
                                    right: 0;
                                    color:white;
                                    font-size: 12px;
                                    padding: 0 10px;
                                    line-height: 23px;
                                    text-transform: uppercase;
                                    z-index: 2;
                                    font-weight: 600;
                                }
                                .img {
                                    overflow: hidden;
                                    
                                    }
                                    img{
                                    display: block;
                                    border-radius: 3px 3px 0 0;
                                    //overflow: hidden;
                                    //position: relative;
                                    width: 100%;
                                    height: auto;
                                    //transition-duration:200ms;
                                    //scale:1;
                                    transition: all 0.5s 0s;
                                    &:hover {
                                        transform: scale(1.1);
                                        transition-duration: 200ms;
                                        opacity: 75%;
                                    }
                                }
                            }
                            .block {
                                display: block;
                                border: 1px solid #ccc;
                                border-top: none;
                                padding: 30px;
                                box-shadow: 0 3px 35px rgba(0,0,0,.1);
                                margin-bottom: 30px;
                                min-height: 391px;
                                h3 {
                                    a {
                                        font-size: 16px;
                                        line-height: 24px;
                                        padding: 0;
                                        letter-spacing: 0.4px;
                                        font-weight: 600;
                                    }
                                }
                                p {
                                    font-size: 13px;
                                    line-height: 22px;
                                    letter-spacing: .4px;
                                    color: #666;
                                    margin: 0 0 25px;
                                }
                                a {
                        
                                    height: auto;
                                    line-height: 35px;
                                    padding: 5px 15px;
                                    font-size: 17px;
                                    border-radius: 3px;
                                    transition: 0s;
                                }
                                .user {
                                    margin-top: 30px;
                                    border-top: 1px solid #ccc;
                                    padding-top: 30px;
                                    .avatar {
                                        float: left;
                                        padding-right: 20px;
                                        img {
                                            border-radius: 50%;
                                        }
                                    }
                                    .details {
                                        padding-left: 20px;
                                        font-size: 14px;
                                        line-height: 22px;
                                        letter-spacing: .4px;
                                        .text-primary {
                                            color: #333645!important;
                                        }
                                        p {
                                            color: #666;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.sidebar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    //transform:translateX(135%);
    //z-index: 9999;
    height: 100%;
    background-color:#333645;
    width:275px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0s;
    z-index: 9999;
    .sidebar-main {
        padding: 21px;
        ul {
            margin: -20px 0 0;
            list-style: none;
            padding: 0;
            li {
                padding: 20px 0 0;
                list-style: none;
                a {
                    font-size: 18px;
                    padding: 19px 0 18px;
                    border-radius: 3px;
                    outline: 1px solid rgba(0,0,0,.25);
                    border: 1px solid hsla(0,0%,100%,.1);
                    display: flex;
                    flex-direction: column;
                    color: white;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    small {
                        font-size: 10px;
                    }
                }
                .menu {
                    margin-top: 20px;
                    border-radius: 3px;
                    overflow: hidden;
                    li {
                        padding: 0;
                        margin: 0;
                        border: none;
                        border-top: 1px solid rgba(0,0,0,.45);
                        border-radius: 0px;
                        a {
                            display: block;
                            background-color: rgba(0,0,0,.25);
                            padding: 10px;
                            font-size: 16px;
                            border: none;
                            border-top: 1px solid hsla(0,0%,100%,.05);      
                            outline: none;
                            border-radius: 0px;
                        } 
                    }
                    .first {
                        border-top: none;
                    }
                }
            }
            li.web span {
                color: #926fb1;
            }
            li.it span {
                color: #4183d7;
            }
            li.telecoms span {
                color: #d64541;
            }
            li.software span {
                color: #67809f;
            }
            li.digital span {
                color: #2eec71;
            }
            li.security span {  
                color: #f62459;
            }
        }
    }
    .sidebar-menu {
        border-top: 1px solid rgba(0,0,0,.25);
        border-bottom: 1px solid hsla(0,0%,100%,.1);
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            border-top: 1px solid hsla(0,0%,100%,.1);
            border-bottom: rgba(0,0,0,.25);
            &:hover a {
                background-color: hsla(0,0%,100%,.05);
            }
            a {
                display: block;
                color: white;
                padding: 20px;
                text-transform: uppercase;
                font-size: 16px;
                text-decoration: none;
                line-height: 1;
                position: relative;
                
            }
            .menu {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    border-top: 1px solid rgba(0,0,0,.45);
                    a {
                        border-top: hsla(0,0%,100%,.05);
                        display: block;
                        color: white;
                        background-color: rgba(0,0,0,.25);
                        padding: 15px 20px;
                        text-transform: uppercase;
                        font-size: 14px;
                        text-decoration: none;
                        &::before {
                            content: "\BB";
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
        .support {
            display: none;
        }
    }
}
// }


// Import Body Medias
@import 'body_medias';

@import '_mixins_body.scss';