body {
    .header {
        header {
            display: block;
            background-color: white;
            .inner {
                padding: 20px 0;
                .container {
                    margin:0 auto;
                    padding-left: 15px;
                    padding-right: 15px;
                    .row {
                        width: 100%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;
                        .logo-box {
                            .logo-container {
                                width: 100%;
                                height: auto;
                                .logo {
                                    width: 100%;
                                    height: auto;
                                    img {
                                        display: block;
                                        max-width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                        .mobile-container {
                            padding: 0;
                            display: table-cell;
                            float: none;
                            vertical-align: middle;
                            width: 100%;
                            .mobile {
                                color: #333645;
                                text-decoration: none;
                            }
                        }
                        .actions-container {
                            .actions {
                                float: right;
                                padding: 7px 0;
                                .btn-a {
                                    text-decoration: none;
                                    color: #fff;
                                    height: 56px;
                                    line-height: 46px;
                                    font-size: 18px;
                                    float: left;
                                    padding: 5px 15px;
                                    text-transform: uppercase;
                                    border-radius: 3px;
                                    white-space: normal;
                                    float: left;
                                    i {
                                        margin-right: 12px;
                                    }
                                }
                                .btn_support {
                                    background-color: #4183d7;
                                    display: none;
                                }
                                .btn_contact {
                                    background-color: #999aa2;
                                }

                                .search-form-wrapper--tablet {
                                    float: left;
                                    height: 56px;
                                    .search-form {
                                        .form_search-bar {
                                            display: inline-block;
                                            border-radius: 0;
                                            width:240px;
                                            height: 56px;
                                            padding: 5px 15px;
                                            border-color: #ccc;
                                            border: 1px solid #e5e5e5;
                                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                                        }
                                        .form_search-submit {
                                            display: inline-block;
                                            text-decoration: none;
                                            text-transform: none;
                                            outline: none;
                                            padding: 7px 20px 3px;
                                            height: 56px;
                                            font-size: 17px;
                                            border-radius: 0 3px 3px 0;
                                            border: none;
                                            vertical-align: bottom;
                                            background-color: #999aa2;
                                            color: #fff;
                                            margin-left: -4px;
                                            .form_search-submit-icon {
                                                font-size: 23px;
                                            }
                                        }
                                    }
                                }
                             
                                .btn-hamburger {
                                    height: 56px;
                                    line-height: 46px;
                                    float:left;
                                    border-color: #333645;
                                    background-color: #333645;
                                    color: #fff;
                                    padding: 5px 15px;
                                    text-transform: uppercase;
                                    border-radius: 3px;
                                    white-space: normal;
                                    &:active {
                                        outline: none;
                                        border: none;
                                    }
                                    &:focus {
                                        outline: 0;
                                    }
                                    .hamburger-box {
                                        display: block;
                                        position: relative;
                                        top: -3px;
                                        width: 33px;
                                        height: 19px;
                                        // .hamburger-inner {
                                        //     background-color: #fff;
                                        //     border-radius: 0;
                                        //     width: 33px;
                                        //     height: 3px;
                                        //     display: block;
                                        //     position:absolute;
                                        //     top: 50%;
                                        //     margin-top: -1.5px;
                                        //     &::before {
                                        //         background-color: #fff;
                                        //         border-radius: 0;
                                        //         top: -8px;
                                        //         content: "";
                                        //         display: block;
                                        //         width: 33px;
                                        //         height: 3px;
                                        //         position: absolute;
                                        //     }
                                        //     &::after {
                                        //         background-color: #fff;
                                        //         border-radius: 0;
                                        //         bottom: -8px;
                                        //         content: "";
                                        //         display: block;
                                        //         width: 33px;
                                        //         height: 3px;
                                        //         position: absolute;
                                        //     }
                                        // }
                                    }
                                    .title {
                                        display: block;
                                        font-size: 12px;
                                        line-height: 1;
                                        position: relative;
                                        top: 0px;
                                    }
                                }
                            }
                            .actions>*+* {
                                margin-left: 20px;
                            }
                        }
                    }
                    .search-form-wrapper--mobile {
                        display: none;
                    }
                }
            }
            
        }
        .main-navigation {
            background-color: #333645;
            .container {
                ul {
                    position: relative;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    border-left: 1px solid hsla(0,0%,100%,.1);
                    border-right: 1px solid rgba(0,0,0,.25);
                    li {
                        flex: 1;
                        text-align: center;
                        border-right: 1px solid hsla(0,0%,100%,.1);
                        border-left: 1px solid rgba(0,0,0,.25);
                        a {
                            position: relative;
                            display: block;
                            color: #fff;
                            padding: 19px 0 18px;
                            text-transform: uppercase;
                            font-size: 18px;
                            text-decoration: none;
                            line-height: 1;
                            i {
                                font-size: 23px;
                                display: block;
                                padding-bottom: 10px;
                            }
                            small {
                                display: block;
                                font-size: 10px;
                                padding-bottom: 1px;
                            }
                        }
                        ul {
                            display: none;
                        }
                        .menu {
                            background-color: #79539a;
                            display: none;
                            padding: 0;
                            margin: 0;
                            position: absolute;
                            top: 100%;
                            left: -1px;
                            right: -1px;
                            z-index: 1;
                            list-style: none;
                            &::before {
                                right: 100%;
                                width: 2000px;
                                background-color: #79539a;
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                            }
                            &::after {
                                background-color: #79539a;
                                left: 100%;
                                width: 2000px;
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                            }
                            a {
                                padding: 15px 0 14px;
                            }
                            li {
                                width: auto;
                                color: #fff;
                                float: left;
                                border:0;
                                padding-left: 30px;
                                a {
                                    letter-spacing: .4px;
                                    font-size: 16px;
                                }
                                a::after {
                                    padding-left: 30px;
                                    content: "-";
                                    //position: absolute;
                                    //right: 0;
                                    //left: 100%;
                                    //top: 20px;
                                }
                            }
                            li:nth-child(1){
                                padding-left: 0;
                            }
                            li:nth-child(6) {
                                a::after {
                                    padding: 0;
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
}









@import '_variables.scss';
@import '_mixins.scss';

// Import header medias
@import 'header_medias';