@media (min-width:768px) {

    body {
        .header {
            header {
                .inner {
                    .container {
                        width: 750px;
                        max-width: 750px;
                        .row {
                            .mobile-container {
                                display: none;
                            }
                            .actions-container {
                                .actions {
                                    .btn_support {
                                        display: none;
                                    }
                                    .btn_contact {
                                        display: none;
                                    }
                                    .search-form-wrapper--tablet {
                                        .search-form {
                                            .form_search-bar {
                                                width: 174px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .main-navigation {
                display: none;
                .container {
                    width: 750px;
                    max-width: 750px;
                    ul {
                        li {
                            
                        }
                    }
                }
            }
        }
    }
    
    
    
    
    
    
    
    
    @media (min-width:992px) {
    
    body {
        .header {
            header {
                .inner {
                    .container {
                        width: 970px;
                        max-width: 970px;
                        .row {
                            .mobile-container {
                                display: none;
                            }
                            .actions-container {
                                .actions {
                                    .btn_support {
                                        display: block;
                                    }
                                    .btn_contact {
                                        display: block;
                                    }
                                    .search-form-wrapper--tablet {
                                        .search-form {
                                            .form_search-bar {
                                                display: none;
                                            }
                                            .form_search-submit {
                                                border-radius: 3px;
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .main-navigation {
                display: block;
                .container {
                    width: 970px;
                    max-width: 970px;
                }
            }
        }
    }
    
    
    @media (min-width:1260px) {
    
    
    body {
        .header {
            header {
                .inner {
                    .container {
                        width: 1200px;
                        max-width: 1200px;
                        .row {
                            .mobile-container {
                                display: none;
                            }
                            .actions-container {
                                .actions {
                                    .btn_support {
                                        display: block;
                                    }
                                    .search-form-wrapper--tablet {
                                        
                                        .search-form {
                                            .form_search-bar {
                                                display: inline-block;
                                                width: 240px;
                                            }
                                            .form_search-submit {
                                                border-radius: 0 3px 3px 0;
                                                margin-left: -4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .main-navigation {
                .container {
                    width: 1200px;
                    max-width: 1200px;
                    ul {
                        li {
                            
                        }
                    }
                }
            }
        }
    }
    }
    }
    }





@media (max-width:1200px) {

}

@media (max-width:1024px) {
    
}

@media (max-width:800px) {
    
}

@media (max-width:768px) {
    
    body {
        .header {
            header {
                .inner {
                    .container {
                        max-width: 750px;
                        margin: 0;
                        .row {
                            margin: 0;
                            .logo-box {
                                width: 50%;
                                float: left;
                            }
                            .mobile-container {
                                display: none;
                                width: 10%;
                                float:right;
                                text-align: center;
                                .mobile {
                                    font-size:32px;
                                    margin-left: 15px;
                                    line-height: 70px;
                                }
                            }
                            .actions-container {
                                width: 50%;
                                padding: 0;
                                float: left;
                                .actions {
                                    .btn_support {
                                        display: none;
                                    }
                                    .btn_contact {
                                        display: none;
                                    }
                                    .search-form-wrapper--tablet {
                                        display: block;
                                    }
                                    .btn-hamburger {
                                        float: right;
                                    }
                                }
                            }
                        }
                        .search-form-wrapper--mobile {
                            display: none;
                            .search-form {
                                margin-top: 11px;
                                position: relative;
                                .form_long-search-bar {
                                    display: inline-block;
                                    background-color: rgba(0,0,0,.1);
                                    outline: 1px solid hsla(0,0%,100%,.2);
                                    border: 2px solid rgba(0,0,0,.1);
                                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                                    transition: none;
                                    width: 100%;
                                    padding-right: 40px;
                                    height: 47px;
                                    padding: 5px 15px;
                                    border-radius: 2px;
                                }
                                .form_long-search-submit {
                                    background: none;
                                    border: none;
                                    color: #333645;
                                    position: absolute;
                                    right: 5px;
                                    line-height: 47px;
                                    font-size: 20px;
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
            .main-navigation {
                display: none;
                .container {
                    width: 750px;
                    max-width: 750px;
                    ul {
                        li {
                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    body .header header .inner .container {
        .row {
            display: flex;
            justify-content: space-between;
            .logo-box {
                width: 70%;
            }
            .mobile-container {
                display: block;
            }
            .actions-container {  
                width: unset;
                .actions .search-form-wrapper--tablet {
                    display: none;
                }
            } 
        } 
        .search-form-wrapper--mobile {
            display: block;
        }
    }

}

@media (max-width:425px) {
    body .header header .inner .container .row {
        .mobile-container .mobile {
            font-size: 26px;
        }
        .logo-box {
            width: 60%;
            .logo-container .logo img {
                margin: 14px 0;
            }
        }
    } 
}

@media (max-width:414px) {
    body .header header .inner .container .row .mobile-container .mobile i {
        font-size: 25px;
    }
}

@media (max-width:320px) {
    body .header header .inner .container .row {
        justify-content: space-between;
        .logo-box {
            max-width: 50%;
            padding: 10px 0;
            .logo-container {
                .logo {
                    vertical-align: middle;
                }
            }
        }
        .actions-container {
            //float: left;
            margin-left: 0;
        }
    }
}

@media (max-width:280px) {
    body .header header .inner .container .row {
        .logo-box {
            padding:0;
            .logo-container {
                padding: 10px 0;
            }
        }
        .actions-container {
            margin: 0;
        }
    }
}
