@media (max-width:414px) {
    body {
        .header {
            header {
                .inner {
                    .container {
                        .row {
                            .logo-box {
                                padding: 15px 0;
                            }
                            .mobile-container {
                                .mobile {
                                    i {
                                        font-size: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (max-width:768px) {
    
    body {
        .header {
            header {
                .inner {
                    .container {
                        max-width: 750px;
                        margin: 0;
                        .row {
                            margin: 0;
                            .logo-box {
                                width: 70%;
                                .logo-container {
                                    .logo {
        
                                    }
                                }
                            }
                            .mobile-container {
                                display: table-cell;
                                width: 10%;
                                float:right;
                                text-align: center;
                                .mobile {
                                    font-size:32px;
                                    margin-left: 15px;
                                    line-height: 70px;
                                }
                            }
                            .actions-container {
                                width: 10%;
                                padding: 0;
                                float: right;
                                .actions {
                                    .btn_support {
                                        display: none;
                                    }
                                    .btn_contact {
                                        display: none;
                                    }
                                    .search-form-wrapper--tablet {
                                        display: none;
                                        .search-form {
                                            .form_search-bar {
                                            }
                                            .form_search-submit {
                                                .form_search-submit-icon {
    
                                                }
                                            }
                                        }
                                    }
                                    .btn-hamburger {
                                        float: right;
                                        .hamburger-box {
                                            .hamburger-inner {
        
                                            }
                                        }
                                        .title {
        
                                        }
                                    }
                                }
                            }
                        }
                        .search-form-wrapper--mobile {
                            display: block;
                            .search-form {
                                margin-top: 11px;
                                position: relative;
                                .form_long-search-bar {
                                    display: inline-block;
                                    background-color: rgba(0,0,0,.1);
                                    outline: 1px solid hsla(0,0%,100%,.2);
                                    border: 2px solid rgba(0,0,0,.1);
                                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                                    transition: none;
                                    width: 100%;
                                    padding-right: 40px;
                                    height: 47px;
                                    padding: 5px 15px;
                                    border-radius: 2px;
                                }
                                .form_long-search-submit {
                                    background: none;
                                    border: none;
                                    color: #333645;
                                    position: absolute;
                                    right: 5px;
                                    line-height: 47px;
                                    font-size: 20px;
                                    outline: none;
                                    .form_long-search-submit-icon {
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .main-navigation {
                display: none;
                .container {
                    width: 750px;
                    max-width: 750px;
                    ul {
                        li {
                            
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:768px) {

body {
    .header {
        header {
            .inner {
                .container {
                    width: 750px;
                    max-width: 750px;
                    .row {
                        .logo-box {
                            .logo-container {
                                .logo {
    
                                }
                            }
                        }
                        .mobile-container {
                            display: none;
                            .mobile {
    
                            }
                        }
                        .actions-container {
                            .actions {
                                .btn_support {
                                    display: none;
                                }
                                .btn_contact {
                                    display: none;
                                }
                                .search-form-wrapper--tablet {
                                    .search-form {
                                        .form_search-bar {
                                            width: 174px;
                                        }
                                        .form_search-submit {
                                            .form_search-submit-icon {

                                            }
                                        }
                                    }
                                }
                                .btn-hamburger {
                                    .hamburger-box {
                                        .hamburger-inner {
    
                                        }
                                    }
                                    .title {
    
                                    }
                                }
                            }
                        }
                    }
                    .search-form-wrapper--mobile {
                        .search-form {
                            .form_long-search-bar {
    
                            }
                            .form_long-search-submit {
                                .form_long-search-submit-icon {
    
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-navigation {
            display: none;
            .container {
                width: 750px;
                max-width: 750px;
                ul {
                    li {
                        
                    }
                }
            }
        }
    }
}








@media (min-width:992px) {

body {
    .header {
        header {
            .inner {
                .container {
                    width: 970px;
                    max-width: 970px;
                    .row {
                        .logo-box {
                            .logo-container {
                                .logo {
    
                                }
                            }
                        }
                        .mobile-container {
                            display: none;
                            .mobile {
    
                            }
                        }
                        .actions-container {
                            .actions {
                                .btn_support {
                                    display: block;
                                }
                                .btn_contact {
                                    display: block;
                                }
                                .search-form-wrapper--tablet {
                                    .search-form {
                                        .form_search-bar {
                                            display: none;
                                        }
                                        .form_search-submit {
                                            border-radius: 3px;
                                            margin: 0;
                                            .form_search-submit-icon {

                                            }
                                        }
                                    }
                                }
                                .btn-hamburger {
                                    .hamburger-box {
                                        .hamburger-inner {
    
                                        }
                                    }
                                    .title {
    
                                    }
                                }
                            }
                        }
                    }
                    .search-form-wrapper--mobile {
                        .search-form {
                            .form_long-search-bar {
    
                            }
                            .form_long-search-submit {
                                .form_long-search-submit-icon {
    
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-navigation {
            display: block;
            .container {
                width: 970px;
                max-width: 970px;
                ul {
                    li {
                        
                    }
                }
            }
        }
    }
}


@media (min-width:1260px) {


body {
    .header {
        header {
            .inner {
                .container {
                    width: 1200px;
                    max-width: 1200px;
                    .row {
                        .logo-box {
                            .logo-container {
                                .logo {
    
                                }
                            }
                        }
                        .mobile-container {
                            display: none;
                            .mobile {
    
                            }
                        }
                        .actions-container {
                            .actions {
                                // .header-btn {
                                //     display: inline-block!important;
                                // }
                                .btn_support {
                                    display: block;
                                }
                                .btn_contact {
    
                                }
                                .search-form-wrapper--tablet {
                                    
                                    .search-form {
                                        .form_search-bar {
                                            display: inline-block;
                                            width: 240px;
                                        }
                                        .form_search-submit {
                                            border-radius: 0 3px 3px 0;
                                            margin-left: -4px;
                                            .form_search-submit-icon {

                                            }
                                        }
                                    }
                                }
                                .btn-hamburger {
                                    .hamburger-box {
                                        .hamburger-inner {
    
                                        }
                                    }
                                    .title {
    
                                    }
                                }
                            }
                        }
                    }
                    .search-form-wrapper--mobile {
                        .search-form {
                            .form_long-search-bar {
    
                            }
                            .form_long-search-submit {
                                .form_long-search-submit-icon {
    
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-navigation {
            .container {
                width: 1200px;
                max-width: 1200px;
                ul {
                    li {
                        
                    }
                }
            }
        }
    }
}
}
}
}
