

@media (min-width:750px) {

    header {
        height: 110px;
        .container {
            height: 70px;
            width: 750px;
            .header_box {
                padding: 0;
                margin: 0 -15px;
                height: 70px;
                width: 750px;

                .actions_container {

                    .actions {
                        .header_search {
                            display: block;
                            margin-right: 20px;

                            form {

                                display: flex;

                                input {
                                    display: block;
                                    height: 56px;
                                    width: 174px;
                                    padding: 5px 15px;
                                    border-radius: 3px 0 0 3px;
                                    border: solid 1px grey;
                                    outline: none;
                                }
                                button {
                                    display: block;
                                    background-color: #999aa2;
                                    border-radius: 0 3px 3px 0;
                                    height: 56px;
                                    width: 63px;
                                    text-align: center;
                                    color: white;
                                    border: none;
                                    i {
                                        font-size: 23px;
                                        width: 43px;
                                        height: 56px;
                                        line-height: 44px;
                                    }
                                }
                            }
                        }
                        .header_phone_button {
                            display: none;
                        }
                    }
                }
            }

            .mobile_search_bar {
                display: none;
            }
        }
    }
}

@media (min-width:975px) {

    header {
        height: 210px;
        .container {
            width: 970px;
            margin: 0 auto 20px;
            .header_box {
                width: 970px;

                .header_logo {
                    //border: solid orange 1px;
                    height: 65px;
                    padding: 0 15px;
                    img {
                        width:364px;
                    }
                }

                .actions_container {
                    //border: solid blue 1px;
                    .actions {
                        //border: solid magenta 1px;
                        .support_button,
                        .contact_button {
                            display: block;
                            margin-right: 20px;
                            width: 143px;
                            color: white;
                            border-radius: 3px;
                            text-align: center;
                            line-height: 56px;
                            font-size: 18px;
                            i {
                                font-size: 23px;
                                margin-right: 10px;
                                line-height: 30px;
                            }
                            &:hover {
                                text-decoration: none;
                            }
                        
                        }

                        .support_button {
                            //background color
                            background-color: #4183d7;
                            &:hover {
                                background-color: #2a6ecd;
                            }
                        }

                        .contact_button {
                            width: 151px;
                            background-color: #999aa2;
                            &:hover {
                                background-color: #84858f;
                            }
                        }

                        .header_search {
                            form {
                                input {
                                    display: none;
                                }
                                button {
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
            }
            
            
        }
        .navigation_bar {
            display: block;
            width: 100%;
            background-color: $navigation-bar;
            //justify-content: center;

            .button_container {
                margin: 0 auto;
                display: flex;
                width: 926px;
                justify-content: center;
                border-left: solid 1px $navigation-light-border;
                border-right: solid 1px $navigation-dark-border;
                div { // main button div
                    text-align: center;
                    width: 154px;
                    height: 99px;
                    //padding: 19px 0 18px;

                
                    /*
                    .web_design:hover {
                            .web_menu {
                                display: flex;
                                a {
                                    display: inline-block;
                                }
                            } 
                    }
                    */
                    a {
                        color: white;
                        padding: 19px 0 18px;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        &:hover {
                            text-decoration: none;
                        }
                    }

                    div[class*=sub_menu] {
                        // flex box this
                        display: none;
                        position: absolute;
                        left: 0;
                        z-index:9999;
                        right: 0;
                        //border: 1px solid red;
                        width: 100%;
                        height: 45px;
                        p{
                            color: white;
                            line-height: 45px;
                        }
                        div {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 926px;
                            
                            margin: 0 auto;

                            a {
                                //color: red;
                                font-size: 13px;
                                //border: solid 1px red;
                                width: auto;
                                // flex items 
                                line-height: 45px;
                                padding: 0;
                                margin: 0;
    
                            }
                        }

                    }
                }
                /*div:nth-child(2) {
                    border: none;
                }*/
            }


        }

        .button_menu {
            display: none;
            
        }
        
        
        /* border comments
        // navigation bar 

        // 6 div elements with inline-blcok

        // navigation list, dark left border, light right border
        // [ = dark      ] = light
        //  [         []         []       []          []        []       []    ]
        // for each li give light and dark side border
        */
    }
}  

@media (min-width:1260px) {

    header {
        //border: solid red 1px;
        .container {
            width: 1260px;
            //border: solid green 1px;
            .header_box {
                width: 1260px;

                .header_logo {
                    //border: solid 1px red;
                    width: 400px;
                    margin: 0 0;
                    padding: 0;
                    img {
                        width: 370px;
                        padding: 0;
                        margin: 0;
                    }
                }
                .actions_container {
                    width: 800px;
                    padding: 0 15px;
                    margin: 0;
                    .actions{ 
                        width: 770px;
                        justify-content: end;
                        .header_search {
                            form {
                                input {
                                    display: block;
                                    width: 240px;
                                    
                                }
                                button {
                                    border-radius:0 3px 3px 0;

                                }
    
                            }
    
                        }
    
                    }
    
                }
            }

            


        }
        .navigation_bar {
            .button_container {
            width: 1154px;

                div {
                    width: 192px;
                    div[class*=sub_menu] {
                        div {
                            width: 1140px;
                            a {
                                font-size: 16px;
                                
                            }
                        }
                        
                    }
                }
            }
        }
    }

}