@import "_variables.scss";

// Give each value inside the group a nickname

// $name = first column
// $normal_colour = second column
// $hover_colour = third column
.header {
    .main-navigation {
        .container {
            ul {
                @each $name, $normal_colour, $hover_colour in  $colours {
                    .#{$name} {
                        a {
                            i {
                                color: $normal_colour;
                            }
                        }
                    }
                    .#{$name}:hover {
                        background-color: $normal_colour;
                        a {
                            i {
                                color: white;
                            }
                        }

                        .menu-#{$name} {
                            display: block;
                            background-color: $hover_colour;
                            &::before,
                            &::after {
                                background-color: $hover_colour;
                            }
                        }
                    }
                }
            }
        }
    }
}

