/*
$web-primary:#79539a;
$it-primary:#286abd;
$telecoms-primary:#bc2c28;
$sofware-primary:#526781;
$digital-primary:#25a25a;
$security-primary:#de093f;
*/
$navigation-bar: #333645;


$navigation-light-border: #857c91;
$navigation-dark-border: #434550;


// Variable group

$colours: (
    web_design #926fb1 #79539a,
    it_support #4183d7 #286abd,
    telecoms_services  #d64541 #bc2c28,
    bespoke_software  #67809f #526781,
    digital_marketing  #2eec71 #25a25a,
    cyber_security  #f62459 #de093f,
    developer_training #926fb1 #fff,
);

