/*
$web-primary:#79539a;
$it-primary:#286abd;
$telecoms-primary:#bc2c28;
$sofware-primary:#526781;
$digital-primary:#25a25a;
$security-primary:#de093f;
*/
/*
$web-primary:#79539a;
$it-primary:#286abd;
$telecoms-primary:#bc2c28;
$sofware-primary:#526781;
$digital-primary:#25a25a;
$security-primary:#de093f;
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
.header .main-navigation .container ul .web_design a i {
  color: #926fb1;
}

.header .main-navigation .container ul .web_design:hover {
  background-color: #926fb1;
}

.header .main-navigation .container ul .web_design:hover a i {
  color: white;
}

.header .main-navigation .container ul .web_design:hover .menu-web_design {
  display: block;
  background-color: #79539a;
}

.header .main-navigation .container ul .web_design:hover .menu-web_design::before, .header .main-navigation .container ul .web_design:hover .menu-web_design::after {
  background-color: #79539a;
}

.header .main-navigation .container ul .it_support a i {
  color: #4183d7;
}

.header .main-navigation .container ul .it_support:hover {
  background-color: #4183d7;
}

.header .main-navigation .container ul .it_support:hover a i {
  color: white;
}

.header .main-navigation .container ul .it_support:hover .menu-it_support {
  display: block;
  background-color: #286abd;
}

.header .main-navigation .container ul .it_support:hover .menu-it_support::before, .header .main-navigation .container ul .it_support:hover .menu-it_support::after {
  background-color: #286abd;
}

.header .main-navigation .container ul .telecoms_services a i {
  color: #d64541;
}

.header .main-navigation .container ul .telecoms_services:hover {
  background-color: #d64541;
}

.header .main-navigation .container ul .telecoms_services:hover a i {
  color: white;
}

.header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services {
  display: block;
  background-color: #bc2c28;
}

.header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services::before, .header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services::after {
  background-color: #bc2c28;
}

.header .main-navigation .container ul .bespoke_software a i {
  color: #67809f;
}

.header .main-navigation .container ul .bespoke_software:hover {
  background-color: #67809f;
}

.header .main-navigation .container ul .bespoke_software:hover a i {
  color: white;
}

.header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software {
  display: block;
  background-color: #526781;
}

.header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software::before, .header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software::after {
  background-color: #526781;
}

.header .main-navigation .container ul .digital_marketing a i {
  color: #2eec71;
}

.header .main-navigation .container ul .digital_marketing:hover {
  background-color: #2eec71;
}

.header .main-navigation .container ul .digital_marketing:hover a i {
  color: white;
}

.header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing {
  display: block;
  background-color: #25a25a;
}

.header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing::before, .header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing::after {
  background-color: #25a25a;
}

.header .main-navigation .container ul .cyber_security a i {
  color: #f62459;
}

.header .main-navigation .container ul .cyber_security:hover {
  background-color: #f62459;
}

.header .main-navigation .container ul .cyber_security:hover a i {
  color: white;
}

.header .main-navigation .container ul .cyber_security:hover .menu-cyber_security {
  display: block;
  background-color: #de093f;
}

.header .main-navigation .container ul .cyber_security:hover .menu-cyber_security::before, .header .main-navigation .container ul .cyber_security:hover .menu-cyber_security::after {
  background-color: #de093f;
}

.header .main-navigation .container ul .developer_training a i {
  color: #926fb1;
}

.header .main-navigation .container ul .developer_training:hover {
  background-color: #926fb1;
}

.header .main-navigation .container ul .developer_training:hover a i {
  color: white;
}

.header .main-navigation .container ul .developer_training:hover .menu-developer_training {
  display: block;
  background-color: #fff;
}

.header .main-navigation .container ul .developer_training:hover .menu-developer_training::before, .header .main-navigation .container ul .developer_training:hover .menu-developer_training::after {
  background-color: #fff;
}

body .header header {
  display: block;
}

body .header header .inner {
  padding: 20px 0;
}

body .header header .inner .container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body .header header .inner .container .row {
  margin-left: -15px;
  margin-right: -15px;
}

body .header header .inner .container .row .logo-box .logo-container {
  width: 100%;
  height: auto;
}

body .header header .inner .container .row .logo-box .logo-container .logo {
  width: 100%;
  height: auto;
}

body .header header .inner .container .row .logo-box .logo-container .logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

body .header header .inner .container .row .mobile-container {
  padding: 0;
  display: table-cell;
  float: none;
  vertical-align: middle;
  width: 100%;
}

body .header header .inner .container .row .mobile-container .mobile {
  color: #333645;
  text-decoration: none;
}

body .header header .inner .container .row .actions-container .actions {
  float: right;
  padding: 7px 0;
}

body .header header .inner .container .row .actions-container .actions .btn-a {
  text-decoration: none;
  color: #fff;
  height: 56px;
  line-height: 46px;
  font-size: 18px;
  float: left;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
  float: left;
}

body .header header .inner .container .row .actions-container .actions .btn-a i {
  margin-right: 12px;
}

body .header header .inner .container .row .actions-container .actions .btn_support {
  background-color: #4183d7;
  display: none;
}

body .header header .inner .container .row .actions-container .actions .btn_contact {
  background-color: #999aa2;
}

body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet {
  float: left;
  height: 56px;
}

body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet .search-form .form_search-bar {
  display: inline-block;
  border-radius: 0;
  width: 240px;
  height: 56px;
  padding: 5px 15px;
  border-color: #ccc;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet .search-form .form_search-submit {
  display: inline-block;
  text-decoration: none;
  text-transform: none;
  outline: none;
  padding: 7px 20px 3px;
  height: 56px;
  font-size: 17px;
  border-radius: 0 3px 3px 0;
  border: none;
  vertical-align: bottom;
  background-color: #999aa2;
  color: #fff;
  margin-left: -4px;
}

body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet .search-form .form_search-submit .form_search-submit-icon {
  font-size: 23px;
}

body .header header .inner .container .row .actions-container .actions .btn-hamburger {
  height: 56px;
  line-height: 46px;
  float: left;
  border-color: #333645;
  background-color: #333645;
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
}

body .header header .inner .container .row .actions-container .actions .btn-hamburger .hamburger-box {
  display: block;
  position: relative;
  top: -3px;
  width: 33px;
  height: 19px;
}

body .header header .inner .container .row .actions-container .actions .btn-hamburger .hamburger-box .hamburger-inner {
  background-color: #fff;
  border-radius: 0;
  width: 33px;
  height: 3px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
}

body .header header .inner .container .row .actions-container .actions .btn-hamburger .hamburger-box .hamburger-inner::before {
  background-color: #fff;
  border-radius: 0;
  top: -8px;
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  position: absolute;
}

body .header header .inner .container .row .actions-container .actions .btn-hamburger .hamburger-box .hamburger-inner::after {
  background-color: #fff;
  border-radius: 0;
  bottom: -8px;
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  position: absolute;
}

body .header header .inner .container .row .actions-container .actions .btn-hamburger .title {
  display: block;
  font-size: 12px;
  line-height: 1;
  position: relative;
  top: 5px;
}

body .header header .inner .container .row .actions-container .actions > * + * {
  margin-left: 20px;
}

body .header header .inner .container .search-form-wrapper--mobile {
  display: none;
}

body .header .main-navigation {
  background-color: #333645;
}

body .header .main-navigation .container ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

body .header .main-navigation .container ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

body .header .main-navigation .container ul li a {
  position: relative;
  display: block;
  color: #fff;
  padding: 19px 0 18px;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
}

body .header .main-navigation .container ul li a i {
  font-size: 23px;
  display: block;
  padding-bottom: 10px;
}

body .header .main-navigation .container ul li a small {
  display: block;
  font-size: 10px;
  padding-bottom: 1px;
}

body .header .main-navigation .container ul li ul {
  display: none;
}

body .header .main-navigation .container ul li .menu {
  background-color: #79539a;
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 1;
  list-style: none;
}

body .header .main-navigation .container ul li .menu::before {
  right: 100%;
  width: 2000px;
  background-color: #79539a;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

body .header .main-navigation .container ul li .menu::after {
  background-color: #79539a;
  left: 100%;
  width: 2000px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

body .header .main-navigation .container ul li .menu a {
  padding: 15px 0 14px;
}

body .header .main-navigation .container ul li .menu li {
  width: auto;
  color: #fff;
  float: left;
  border: 0;
  padding-left: 30px;
}

body .header .main-navigation .container ul li .menu li a {
  letter-spacing: .4px;
  font-size: 16px;
}

body .header .main-navigation .container ul li .menu li a::after {
  padding-left: 30px;
  content: "-";
}

body .header .main-navigation .container ul li .menu li:nth-child(1) {
  padding-left: 0;
}

body .header .main-navigation .container ul li .menu li:nth-child(6) a::after {
  padding: 0;
  content: "";
}

body .header .main-navigation .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  height: 100%;
}

/*
$web-primary:#79539a;
$it-primary:#286abd;
$telecoms-primary:#bc2c28;
$sofware-primary:#526781;
$digital-primary:#25a25a;
$security-primary:#de093f;
*/
/*
$web-primary:#79539a;
$it-primary:#286abd;
$telecoms-primary:#bc2c28;
$sofware-primary:#526781;
$digital-primary:#25a25a;
$security-primary:#de093f;
*/
.header .main-navigation .container ul .web_design a i {
  color: #926fb1;
}

.header .main-navigation .container ul .web_design:hover {
  background-color: #926fb1;
}

.header .main-navigation .container ul .web_design:hover a i {
  color: white;
}

.header .main-navigation .container ul .web_design:hover .menu-web_design {
  display: block;
  background-color: #79539a;
}

.header .main-navigation .container ul .web_design:hover .menu-web_design::before, .header .main-navigation .container ul .web_design:hover .menu-web_design::after {
  background-color: #79539a;
}

.header .main-navigation .container ul .it_support a i {
  color: #4183d7;
}

.header .main-navigation .container ul .it_support:hover {
  background-color: #4183d7;
}

.header .main-navigation .container ul .it_support:hover a i {
  color: white;
}

.header .main-navigation .container ul .it_support:hover .menu-it_support {
  display: block;
  background-color: #286abd;
}

.header .main-navigation .container ul .it_support:hover .menu-it_support::before, .header .main-navigation .container ul .it_support:hover .menu-it_support::after {
  background-color: #286abd;
}

.header .main-navigation .container ul .telecoms_services a i {
  color: #d64541;
}

.header .main-navigation .container ul .telecoms_services:hover {
  background-color: #d64541;
}

.header .main-navigation .container ul .telecoms_services:hover a i {
  color: white;
}

.header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services {
  display: block;
  background-color: #bc2c28;
}

.header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services::before, .header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services::after {
  background-color: #bc2c28;
}

.header .main-navigation .container ul .bespoke_software a i {
  color: #67809f;
}

.header .main-navigation .container ul .bespoke_software:hover {
  background-color: #67809f;
}

.header .main-navigation .container ul .bespoke_software:hover a i {
  color: white;
}

.header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software {
  display: block;
  background-color: #526781;
}

.header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software::before, .header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software::after {
  background-color: #526781;
}

.header .main-navigation .container ul .digital_marketing a i {
  color: #2eec71;
}

.header .main-navigation .container ul .digital_marketing:hover {
  background-color: #2eec71;
}

.header .main-navigation .container ul .digital_marketing:hover a i {
  color: white;
}

.header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing {
  display: block;
  background-color: #25a25a;
}

.header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing::before, .header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing::after {
  background-color: #25a25a;
}

.header .main-navigation .container ul .cyber_security a i {
  color: #f62459;
}

.header .main-navigation .container ul .cyber_security:hover {
  background-color: #f62459;
}

.header .main-navigation .container ul .cyber_security:hover a i {
  color: white;
}

.header .main-navigation .container ul .cyber_security:hover .menu-cyber_security {
  display: block;
  background-color: #de093f;
}

.header .main-navigation .container ul .cyber_security:hover .menu-cyber_security::before, .header .main-navigation .container ul .cyber_security:hover .menu-cyber_security::after {
  background-color: #de093f;
}

.header .main-navigation .container ul .developer_training a i {
  color: #926fb1;
}

.header .main-navigation .container ul .developer_training:hover {
  background-color: #926fb1;
}

.header .main-navigation .container ul .developer_training:hover a i {
  color: white;
}

.header .main-navigation .container ul .developer_training:hover .menu-developer_training {
  display: block;
  background-color: #fff;
}

.header .main-navigation .container ul .developer_training:hover .menu-developer_training::before, .header .main-navigation .container ul .developer_training:hover .menu-developer_training::after {
  background-color: #fff;
}

@media (min-width: 768px) {
  body .header header .inner .container {
    width: 750px;
    max-width: 750px;
  }
  body .header header .inner .container .row .mobile-container {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .btn_support {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .btn_contact {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet .search-form .form_search-bar {
    width: 174px;
  }
  body .header .main-navigation {
    display: none;
  }
  body .header .main-navigation .container {
    width: 750px;
    max-width: 750px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  body .header header .inner .container {
    width: 970px;
    max-width: 970px;
  }
  body .header header .inner .container .row .mobile-container {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .btn_support {
    display: block;
  }
  body .header header .inner .container .row .actions-container .actions .btn_contact {
    display: block;
  }
  body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet .search-form .form_search-bar {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet .search-form .form_search-submit {
    border-radius: 3px;
    margin: 0;
  }
  body .header .main-navigation {
    display: block;
  }
  body .header .main-navigation .container {
    width: 970px;
    max-width: 970px;
  }
}

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1260px) {
  body .header header .inner .container {
    width: 1200px;
    max-width: 1200px;
  }
  body .header header .inner .container .row .mobile-container {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .btn_support {
    display: block;
  }
  body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet .search-form .form_search-bar {
    display: inline-block;
    width: 240px;
  }
  body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet .search-form .form_search-submit {
    border-radius: 0 3px 3px 0;
    margin-left: -4px;
  }
  body .header .main-navigation .container {
    width: 1200px;
    max-width: 1200px;
  }
}

@media (max-width: 768px) {
  body .header header .inner .container {
    max-width: 750px;
    margin: 0;
  }
  body .header header .inner .container .row {
    margin: 0;
  }
  body .header header .inner .container .row .logo-box {
    width: 70%;
  }
  body .header header .inner .container .row .mobile-container {
    display: table-cell;
    width: 10%;
    float: right;
    text-align: center;
  }
  body .header header .inner .container .row .mobile-container .mobile {
    font-size: 32px;
    margin-left: 15px;
    line-height: 70px;
  }
  body .header header .inner .container .row .actions-container {
    width: 10%;
    padding: 0;
    float: right;
  }
  body .header header .inner .container .row .actions-container .actions .btn_support {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .btn_contact {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .search-form-wrapper--tablet {
    display: none;
  }
  body .header header .inner .container .row .actions-container .actions .btn-hamburger {
    float: right;
  }
  body .header header .inner .container .search-form-wrapper--mobile {
    display: block;
  }
  body .header header .inner .container .search-form-wrapper--mobile .search-form {
    margin-top: 11px;
    position: relative;
  }
  body .header header .inner .container .search-form-wrapper--mobile .search-form .form_long-search-bar {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: none;
    transition: none;
    width: 100%;
    padding-right: 40px;
    height: 47px;
    padding: 5px 15px;
    border-radius: 2px;
  }
  body .header header .inner .container .search-form-wrapper--mobile .search-form .form_long-search-submit {
    background: none;
    border: none;
    color: #333645;
    position: absolute;
    right: 5px;
    line-height: 47px;
    font-size: 20px;
    outline: none;
  }
  body .header .main-navigation {
    display: none;
  }
  body .header .main-navigation .container {
    width: 750px;
    max-width: 750px;
  }
}

@media (max-width: 414px) {
  body .header header .inner .container .row .logo-box {
    padding: 15px 0;
  }
  body .header header .inner .container .row .mobile-container .mobile i {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  body .header header .inner .container .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .header header .inner .container .row .logo-box {
    max-width: 50%;
    padding: 22px 0;
  }
  body .header header .inner .container .row .logo-box .logo-container .logo {
    vertical-align: middle;
  }
  body .header header .inner .container .row .actions-container {
    margin-left: 40px;
  }
}

/*
$web-primary:#79539a;
$it-primary:#286abd;
$telecoms-primary:#bc2c28;
$sofware-primary:#526781;
$digital-primary:#25a25a;
$security-primary:#de093f;
*/
/*
$web-primary:#79539a;
$it-primary:#286abd;
$telecoms-primary:#bc2c28;
$sofware-primary:#526781;
$digital-primary:#25a25a;
$security-primary:#de093f;
*/
.header .main-navigation .container ul .web_design a i {
  color: #926fb1;
}

.header .main-navigation .container ul .web_design:hover {
  background-color: #926fb1;
}

.header .main-navigation .container ul .web_design:hover a i {
  color: white;
}

.header .main-navigation .container ul .web_design:hover .menu-web_design {
  display: block;
  background-color: #79539a;
}

.header .main-navigation .container ul .web_design:hover .menu-web_design::before, .header .main-navigation .container ul .web_design:hover .menu-web_design::after {
  background-color: #79539a;
}

.header .main-navigation .container ul .it_support a i {
  color: #4183d7;
}

.header .main-navigation .container ul .it_support:hover {
  background-color: #4183d7;
}

.header .main-navigation .container ul .it_support:hover a i {
  color: white;
}

.header .main-navigation .container ul .it_support:hover .menu-it_support {
  display: block;
  background-color: #286abd;
}

.header .main-navigation .container ul .it_support:hover .menu-it_support::before, .header .main-navigation .container ul .it_support:hover .menu-it_support::after {
  background-color: #286abd;
}

.header .main-navigation .container ul .telecoms_services a i {
  color: #d64541;
}

.header .main-navigation .container ul .telecoms_services:hover {
  background-color: #d64541;
}

.header .main-navigation .container ul .telecoms_services:hover a i {
  color: white;
}

.header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services {
  display: block;
  background-color: #bc2c28;
}

.header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services::before, .header .main-navigation .container ul .telecoms_services:hover .menu-telecoms_services::after {
  background-color: #bc2c28;
}

.header .main-navigation .container ul .bespoke_software a i {
  color: #67809f;
}

.header .main-navigation .container ul .bespoke_software:hover {
  background-color: #67809f;
}

.header .main-navigation .container ul .bespoke_software:hover a i {
  color: white;
}

.header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software {
  display: block;
  background-color: #526781;
}

.header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software::before, .header .main-navigation .container ul .bespoke_software:hover .menu-bespoke_software::after {
  background-color: #526781;
}

.header .main-navigation .container ul .digital_marketing a i {
  color: #2eec71;
}

.header .main-navigation .container ul .digital_marketing:hover {
  background-color: #2eec71;
}

.header .main-navigation .container ul .digital_marketing:hover a i {
  color: white;
}

.header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing {
  display: block;
  background-color: #25a25a;
}

.header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing::before, .header .main-navigation .container ul .digital_marketing:hover .menu-digital_marketing::after {
  background-color: #25a25a;
}

.header .main-navigation .container ul .cyber_security a i {
  color: #f62459;
}

.header .main-navigation .container ul .cyber_security:hover {
  background-color: #f62459;
}

.header .main-navigation .container ul .cyber_security:hover a i {
  color: white;
}

.header .main-navigation .container ul .cyber_security:hover .menu-cyber_security {
  display: block;
  background-color: #de093f;
}

.header .main-navigation .container ul .cyber_security:hover .menu-cyber_security::before, .header .main-navigation .container ul .cyber_security:hover .menu-cyber_security::after {
  background-color: #de093f;
}

.header .main-navigation .container ul .developer_training a i {
  color: #926fb1;
}

.header .main-navigation .container ul .developer_training:hover {
  background-color: #926fb1;
}

.header .main-navigation .container ul .developer_training:hover a i {
  color: white;
}

.header .main-navigation .container ul .developer_training:hover .menu-developer_training {
  display: block;
  background-color: #fff;
}

.header .main-navigation .container ul .developer_training:hover .menu-developer_training::before, .header .main-navigation .container ul .developer_training:hover .menu-developer_training::after {
  background-color: #fff;
}

body .banner {
  border-top: 1px solid rgba(51, 54, 69, 0.5);
  position: relative;
}

body .banner .background-img {
  overflow: hidden;
  background: url("/Assets/home-3wAI.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 531px;
}

body .banner .content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

body .banner .content-container .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body .banner .content-container .container .text {
  display: block;
  color: #fff;
}

body .banner .content-container .container .text .h1 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0 0 25px;
  font-weight: 400px;
  line-height: 1.1;
}

body .banner .content-container .container .text p {
  font-size: 20px;
  margin: 0 0 35px;
}

body .banner .content-container .container .text .btn-web {
  color: #fff;
  background-color: #926fb1;
  line-height: 50px;
  height: auto;
  padding: 5px 15px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
}

body .banner .content-container .container .text .btn-web:hover {
  background-color: #79539a;
}

body .section {
  padding-top: 50px;
  padding-bottom: 50px;
}

body .section .service-list .row .col-xl-3 a {
  min-height: 379px;
}

body .section .service-list .row [class*='col-'] a {
  min-height: 290px;
}

body .section .service-list .row [class*='col-'] .block {
  text-align: center;
  width: 100%;
  color: #333645;
  text-decoration: none;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

body .section .service-list .row [class*='col-'] .block span {
  display: block;
}

body .section .service-list .row [class*='col-'] .block .icon-container {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  color: #fff;
  border-radius: 50%;
}

body .section .service-list .row [class*='col-'] .block .icon-container .icon {
  font-size: 18px;
  line-height: 60px;
}

body .section .service-list .row [class*='col-'] .block .h2 {
  font-size: 18px;
  position: relative;
  padding-bottom: 17px;
  margin: 0 0 11px;
}

body .section .service-list .row [class*='col-'] .block .h2::after {
  content: "";
  position: absolute;
  top: 33;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

body .section .service-list .row [class*='col-'] .block .p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 13px;
  font-weight: 400;
}

body .section .service-list .row [class*='col-'] .block .btn-container .btn {
  display: inline-block;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  -webkit-transition: 0s;
  transition: 0s;
}

.brand-background-container .brand-background {
  background-color: #333645;
}

.brand-background-container .brand-background .container {
  padding: 50px 15px;
  margin: 0 auto;
}

.brand-background-container .brand-background .container .row [class*='col-'] {
  color: white;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.brand-background-container .brand-background .container .row [class*='col-'] h1 {
  font-size: 36px;
  margin: -6px 0 28px 0;
  text-transform: uppercase;
}

.brand-background-container .brand-background .container .row [class*='col-'] p {
  font-size: 16px;
  margin: 0 0 25px;
}

.brand-background-container .brand-background .container .row [class*='col-'] .p-bold {
  font-weight: 600;
}

.brand-background-container .brand-background .container .row [class*='col-'] a {
  display: block;
  width: 173.2px;
  text-decoration: none;
  color: #333645;
  background-color: white;
  line-height: 35px;
  padding: 5px 15px;
  font-size: 17px;
  border-radius: 3px;
}

.brand-background-container .brand-background .container .row [class*='col-'] a:hover {
  opacity: 0.92;
}

.brand-background-container .brand-background .container .row [class*='col-'] a i {
  padding-left: 12px;
}

.latest-articles .bar {
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.latest-articles .bar .container {
  margin: 0 auto;
  padding: 0 15px;
}

.latest-articles .bar .container .burger-line .burger_line {
  display: block;
  height: 5px;
  width: 71.81px;
  background-color: #333645;
  /*
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color:#333645;
                    width: 71px;
                    height:5px;
                    */
}

.latest-articles .bar .container .burger-line p {
  display: block;
  color: #333645;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding: 40px 0 20px 0;
}

.latest-articles .section {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.latest-articles .section .container {
  margin: 0 auto;
  padding: 0 15px;
}

.latest-articles .section .container .article-list {
  overflow: hidden;
}

.latest-articles .section .container .article-list .row {
  margin: 0 -15px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item {
  min-height: 612px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .img-container {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .img-container .category {
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
  font-size: 12px;
  padding: 0 10px;
  line-height: 23px;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 600;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .img-container .img {
  overflow: hidden;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .img-container img {
  display: block;
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s 0s;
  transition: all 0.5s 0s;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .img-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  opacity: 75%;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block {
  display: block;
  border: 1px solid #ccc;
  border-top: none;
  padding: 30px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  min-height: 391px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block h3 a {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block p {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: .4px;
  color: #666;
  margin: 0 0 25px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block a {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  font-size: 17px;
  border-radius: 3px;
  -webkit-transition: 0s;
  transition: 0s;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block .user {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block .user .avatar {
  float: left;
  padding-right: 20px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block .user .avatar img {
  border-radius: 50%;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block .user .details {
  padding-left: 20px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .4px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block .user .details .text-primary {
  color: #333645 !important;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item .block .user .details p {
  color: #666;
}

@media (max-width: 414px) {
  body .banner {
    height: 567px;
  }
  body .banner .background-img {
    height: 100%;
  }
}

@media (min-width: 576px) {
  body .banner {
    height: 704px;
  }
  body .banner .background-img {
    height: 100%;
  }
  body .section {
    max-width: 750px;
  }
}

@media (min-width: 768px) {
  body .banner {
    height: 762px;
  }
  body .banner .background-img {
    height: 100%;
  }
  body .banner .content-container .container {
    width: 750px;
    max-width: 750px;
  }
  body .section {
    max-width: 750px;
  }
  body .section .service-list .row .col-xl-3 a {
    min-height: 312px;
  }
  body .section .service-list .row [class*='col-'] a .p {
    min-height: 66px;
  }
  body .latest-articles .section .container .article-list .row .col-xl-4:nth-child(3n) {
    display: none;
  }
}

@media (min-width: 992px) {
  body .banner {
    height: 600px;
  }
  body .banner .background-img {
    height: 100%;
  }
  body .banner .content-container {
    text-align: left;
  }
  body .banner .content-container .container {
    width: 970px;
    max-width: 970px;
    margin: 0 23px;
    padding: 0 15px;
  }
  body .section {
    max-width: 970px;
  }
  body .section .service-list .row .col-xl-3 a {
    min-height: 290px;
  }
  body .brand-background-container {
    height: 493px;
  }
  body .brand-background-container .brand-background {
    background-image: url("/assets/branded.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
  }
  body .brand-background-container .brand-background .container {
    height: 100%;
  }
  body .brand-background-container .brand-background .container .row {
    height: 100%;
  }
  body .brand-background-container .brand-background .container .row [class*='col-'] {
    height: 100%;
    display: block;
  }
}

@media (min-width: 1260px) {
  body .banner {
    height: 737px;
  }
  body .banner .background-img {
    height: 100%;
  }
  body .banner .content-container .container {
    width: 1200px;
    max-width: 1200px;
  }
  body .section {
    max-width: 1200px;
  }
  body .section .service-list .row .col-xl-3 a {
    min-height: 312px;
  }
  body .brand-background-container {
    height: 553px;
    height: 100%;
  }
  body .brand-background-container .brand-background .container {
    max-width: 1200px;
    width: 1200px;
  }
  body .latest-articles .bar .container {
    max-width: 1200px;
    width: 1200px;
  }
  body .latest-articles .section {
    width: 100%;
  }
  body .latest-articles .section .container {
    margin: 0 auto;
    max-width: 1200px;
    width: 1200px;
  }
  body .latest-articles .section .container .article-list .row .col-xl-4:nth-child(3n) {
    display: block;
  }
}

/*
$web-primary:#79539a;
$it-primary:#286abd;
$telecoms-primary:#bc2c28;
$sofware-primary:#526781;
$digital-primary:#25a25a;
$security-primary:#de093f;
*/
.section .service-list .row [class*='col-'] .block-web_design {
  background-color: #fff;
}

.section .service-list .row [class*='col-'] .block-web_design .icon-container {
  background-color: #926fb1;
}

.section .service-list .row [class*='col-'] .block-web_design .icon-container .icon {
  color: white;
}

.section .service-list .row [class*='col-'] .block-web_design .btn-container .btn {
  background-color: #926fb1;
  color: white;
}

.section .service-list .row [class*='col-'] .block-web_design:hover {
  background-color: #926fb1;
}

.section .service-list .row [class*='col-'] .block-web_design:hover .h2 {
  color: white;
}

.section .service-list .row [class*='col-'] .block-web_design:hover .h2::after {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-web_design:hover .p {
  color: white;
}

.section .service-list .row [class*='col-'] .block-web_design:hover .icon-container {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-web_design:hover .icon-container .icon {
  color: #926fb1;
}

.section .service-list .row [class*='col-'] .block-web_design:hover .btn-container .btn {
  background-color: white;
  color: #926fb1;
}

.section .service-list .row [class*='col-'] .block-it_support {
  background-color: #fff;
}

.section .service-list .row [class*='col-'] .block-it_support .icon-container {
  background-color: #4183d7;
}

.section .service-list .row [class*='col-'] .block-it_support .icon-container .icon {
  color: white;
}

.section .service-list .row [class*='col-'] .block-it_support .btn-container .btn {
  background-color: #4183d7;
  color: white;
}

.section .service-list .row [class*='col-'] .block-it_support:hover {
  background-color: #4183d7;
}

.section .service-list .row [class*='col-'] .block-it_support:hover .h2 {
  color: white;
}

.section .service-list .row [class*='col-'] .block-it_support:hover .h2::after {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-it_support:hover .p {
  color: white;
}

.section .service-list .row [class*='col-'] .block-it_support:hover .icon-container {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-it_support:hover .icon-container .icon {
  color: #4183d7;
}

.section .service-list .row [class*='col-'] .block-it_support:hover .btn-container .btn {
  background-color: white;
  color: #4183d7;
}

.section .service-list .row [class*='col-'] .block-telecoms_services {
  background-color: #fff;
}

.section .service-list .row [class*='col-'] .block-telecoms_services .icon-container {
  background-color: #d64541;
}

.section .service-list .row [class*='col-'] .block-telecoms_services .icon-container .icon {
  color: white;
}

.section .service-list .row [class*='col-'] .block-telecoms_services .btn-container .btn {
  background-color: #d64541;
  color: white;
}

.section .service-list .row [class*='col-'] .block-telecoms_services:hover {
  background-color: #d64541;
}

.section .service-list .row [class*='col-'] .block-telecoms_services:hover .h2 {
  color: white;
}

.section .service-list .row [class*='col-'] .block-telecoms_services:hover .h2::after {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-telecoms_services:hover .p {
  color: white;
}

.section .service-list .row [class*='col-'] .block-telecoms_services:hover .icon-container {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-telecoms_services:hover .icon-container .icon {
  color: #d64541;
}

.section .service-list .row [class*='col-'] .block-telecoms_services:hover .btn-container .btn {
  background-color: white;
  color: #d64541;
}

.section .service-list .row [class*='col-'] .block-bespoke_software {
  background-color: #fff;
}

.section .service-list .row [class*='col-'] .block-bespoke_software .icon-container {
  background-color: #67809f;
}

.section .service-list .row [class*='col-'] .block-bespoke_software .icon-container .icon {
  color: white;
}

.section .service-list .row [class*='col-'] .block-bespoke_software .btn-container .btn {
  background-color: #67809f;
  color: white;
}

.section .service-list .row [class*='col-'] .block-bespoke_software:hover {
  background-color: #67809f;
}

.section .service-list .row [class*='col-'] .block-bespoke_software:hover .h2 {
  color: white;
}

.section .service-list .row [class*='col-'] .block-bespoke_software:hover .h2::after {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-bespoke_software:hover .p {
  color: white;
}

.section .service-list .row [class*='col-'] .block-bespoke_software:hover .icon-container {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-bespoke_software:hover .icon-container .icon {
  color: #67809f;
}

.section .service-list .row [class*='col-'] .block-bespoke_software:hover .btn-container .btn {
  background-color: white;
  color: #67809f;
}

.section .service-list .row [class*='col-'] .block-digital_marketing {
  background-color: #fff;
}

.section .service-list .row [class*='col-'] .block-digital_marketing .icon-container {
  background-color: #2eec71;
}

.section .service-list .row [class*='col-'] .block-digital_marketing .icon-container .icon {
  color: white;
}

.section .service-list .row [class*='col-'] .block-digital_marketing .btn-container .btn {
  background-color: #2eec71;
  color: white;
}

.section .service-list .row [class*='col-'] .block-digital_marketing:hover {
  background-color: #2eec71;
}

.section .service-list .row [class*='col-'] .block-digital_marketing:hover .h2 {
  color: white;
}

.section .service-list .row [class*='col-'] .block-digital_marketing:hover .h2::after {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-digital_marketing:hover .p {
  color: white;
}

.section .service-list .row [class*='col-'] .block-digital_marketing:hover .icon-container {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-digital_marketing:hover .icon-container .icon {
  color: #2eec71;
}

.section .service-list .row [class*='col-'] .block-digital_marketing:hover .btn-container .btn {
  background-color: white;
  color: #2eec71;
}

.section .service-list .row [class*='col-'] .block-cyber_security {
  background-color: #fff;
}

.section .service-list .row [class*='col-'] .block-cyber_security .icon-container {
  background-color: #f62459;
}

.section .service-list .row [class*='col-'] .block-cyber_security .icon-container .icon {
  color: white;
}

.section .service-list .row [class*='col-'] .block-cyber_security .btn-container .btn {
  background-color: #f62459;
  color: white;
}

.section .service-list .row [class*='col-'] .block-cyber_security:hover {
  background-color: #f62459;
}

.section .service-list .row [class*='col-'] .block-cyber_security:hover .h2 {
  color: white;
}

.section .service-list .row [class*='col-'] .block-cyber_security:hover .h2::after {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-cyber_security:hover .p {
  color: white;
}

.section .service-list .row [class*='col-'] .block-cyber_security:hover .icon-container {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-cyber_security:hover .icon-container .icon {
  color: #f62459;
}

.section .service-list .row [class*='col-'] .block-cyber_security:hover .btn-container .btn {
  background-color: white;
  color: #f62459;
}

.section .service-list .row [class*='col-'] .block-developer_training {
  background-color: #fff;
}

.section .service-list .row [class*='col-'] .block-developer_training .icon-container {
  background-color: #926fb1;
}

.section .service-list .row [class*='col-'] .block-developer_training .icon-container .icon {
  color: white;
}

.section .service-list .row [class*='col-'] .block-developer_training .btn-container .btn {
  background-color: #926fb1;
  color: white;
}

.section .service-list .row [class*='col-'] .block-developer_training:hover {
  background-color: #926fb1;
}

.section .service-list .row [class*='col-'] .block-developer_training:hover .h2 {
  color: white;
}

.section .service-list .row [class*='col-'] .block-developer_training:hover .h2::after {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-developer_training:hover .p {
  color: white;
}

.section .service-list .row [class*='col-'] .block-developer_training:hover .icon-container {
  background-color: white;
}

.section .service-list .row [class*='col-'] .block-developer_training:hover .icon-container .icon {
  color: #926fb1;
}

.section .service-list .row [class*='col-'] .block-developer_training:hover .btn-container .btn {
  background-color: white;
  color: #926fb1;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_web_design .img-container .category {
  background-color: #926fb1;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_web_design .block h3 a {
  color: #926fb1;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_web_design .block .button {
  background-color: #926fb1;
  color: white;
  width: 126px;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  padding: 12px 18px;
  margin-bottom: 20px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_it_support .img-container .category {
  background-color: #4183d7;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_it_support .block h3 a {
  color: #4183d7;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_it_support .block .button {
  background-color: #4183d7;
  color: white;
  width: 126px;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  padding: 12px 18px;
  margin-bottom: 20px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_telecoms_services .img-container .category {
  background-color: #d64541;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_telecoms_services .block h3 a {
  color: #d64541;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_telecoms_services .block .button {
  background-color: #d64541;
  color: white;
  width: 126px;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  padding: 12px 18px;
  margin-bottom: 20px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_bespoke_software .img-container .category {
  background-color: #67809f;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_bespoke_software .block h3 a {
  color: #67809f;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_bespoke_software .block .button {
  background-color: #67809f;
  color: white;
  width: 126px;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  padding: 12px 18px;
  margin-bottom: 20px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_digital_marketing .img-container .category {
  background-color: #2eec71;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_digital_marketing .block h3 a {
  color: #2eec71;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_digital_marketing .block .button {
  background-color: #2eec71;
  color: white;
  width: 126px;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  padding: 12px 18px;
  margin-bottom: 20px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_cyber_security .img-container .category {
  background-color: #f62459;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_cyber_security .block h3 a {
  color: #f62459;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_cyber_security .block .button {
  background-color: #f62459;
  color: white;
  width: 126px;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  padding: 12px 18px;
  margin-bottom: 20px;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_developer_training .img-container .category {
  background-color: #926fb1;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_developer_training .block h3 a {
  color: #926fb1;
}

.latest-articles .section .container .article-list .row [class*="col-"] .item_developer_training .block .button {
  background-color: #926fb1;
  color: white;
  width: 126px;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  padding: 12px 18px;
  margin-bottom: 20px;
}

.clients {
  display: none;
}

.footer-links {
  background-color: #333645;
  color: white;
  padding: 47px 0 43px;
}

.footer-links .container {
  margin: 0 auto;
  padding: 0 15px;
}

.footer-links .container .row {
  margin: 0 -15px;
}

.footer-links .container .row [class*="col-"] {
  line-height: 22px;
}

.footer-links .container .row [class*="col-"] h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 26px;
  font-weight: 400;
}

.footer-links .container .row [class*="col-"] ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.footer-links .container .row [class*="col-"] ul a {
  color: white;
}

.footer-links .container .row [class*="col-"] ul li {
  padding: 0;
  margin: 0;
}

.footer-links .container .row [class*="col-"] ul li p {
  padding: 0;
  margin: 0;
}

.footer-links .container .row [class*="col-"] .social-media .row [class*='col-'] .social-media-button {
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  display: block;
  font-size: 1.75em;
  line-height: 3.438rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.footer-links .container .row [class*="col-"] .social-media .row [class*='col-'] .facebook:hover {
  background-color: #3b5998;
}

.footer-links .container .row [class*="col-"] .social-media .row [class*='col-'] .twitter:hover {
  background-color: #00aced;
}

.footer-links .container .row [class*="col-"] .social-media .row [class*='col-'] .linkedin:hover {
  background-color: #0077b5;
}

.footer-links .container .row .website {
  margin-bottom: 0;
}

.accreditations {
  display: none;
}

@media (min-width: 768px) {
  footer .clients {
    display: block;
    width: 100%;
    -webkit-box-shadow: inset 0 10px 80px -60px #666666;
            box-shadow: inset 0 10px 80px -60px #666666;
  }
  footer .clients .container {
    padding: 50px 0;
    width: auto;
  }
  footer .clients .container .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .clients .container .list .item {
    position: relative;
  }
  footer .clients .container .list .item .description {
    display: none;
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
  }
  footer .clients .container .list .item .description .box {
    background-color: #333645;
    color: white;
    padding: 20px;
    font-size: 18px;
    max-width: 260px;
    margin: 0 auto 50px;
  }
  footer .clients .container .list .item .description .box h3 {
    position: relative;
    font-size: 18px;
    line-height: 19.8px;
    letter-spacing: 0.4px;
    padding-bottom: 0px;
    margin: 0 0 17px;
    /*&:after{
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right:0;
                                    margin: auto;
                                    width: 28px;
                                    height: 3px;
                                    display: block;
                                    background-color: white;
                                }*/
  }
  footer .clients .container .list .item .description .box .burger_line {
    display: block;
    height: 3px;
    width: 28px;
    background-color: white;
    margin: 11px auto;
  }
  footer .clients .container .list .item .description .box p {
    font-size: 13px;
    padding: 0;
    margin: 0;
    line-height: 22px;
    letter-spacing: 0.4px;
  }
  footer .clients .container .list .item .description .box .arrow {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
    width: 72px;
    height: 40px;
    /*width: 120px;
                                top: 100%;
                                left: 50%;
                                margin-left: -60px;*/
  }
  footer .clients .container .list .item .description .box .arrow::after {
    /*content:"";
                                    margin:0 auto;
                                    margin-left:-5px;
                                    top:100%;
                                    left:50%;
                                    position:absolute;
                                    border-color: #333645 transparent transparent transparent;
                                    border-style: solid;
                                    border-width: 35px 36px 0;
                                    z-index: 1;*/
    content: "";
    margin: auto;
    display: inline-block;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0;
    z-index: 1;
    /*content: " ";
                                    position: absolute;
                                    top: 100%;
                                    left: 50%;
                                    margin-left: -36px;
                                    border-width: 35px 36px 0;
                                    border-style: solid;
                                    border-color: black transparent transparent transparent;*/
  }
  footer .clients .container .list .item img {
    height: auto;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    padding: 0 20px;
  }
  footer .clients .container .list .item .greyscale {
    display: block;
  }
  footer .clients .container .list .item .coloured {
    display: none;
  }
  footer .clients .container .list .item:hover .description {
    display: block;
  }
  footer .clients .container .list .item:hover .greyscale {
    display: none;
  }
  footer .clients .container .list .item:hover .coloured {
    display: block;
  }
  footer .clients .container .list .item:hover .description {
    display: block;
  }
  footer .accreditations {
    display: block;
    width: 100%;
  }
  footer .accreditations .container {
    padding: 50px 0;
    width: auto;
  }
  footer .accreditations .container .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .accreditations .container .list .item img {
    height: auto;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    padding: 0 20px;
  }
  footer .accreditations .container .list .item .greyscale {
    display: block;
  }
  footer .accreditations .container .list .item .coloured {
    display: none;
  }
  footer .accreditations .container .list .item:hover .greyscale {
    display: none;
  }
  footer .accreditations .container .list .item:hover .coloured {
    display: block;
  }
}

@media (min-width: 1200px) {
  footer .clients {
    width: 100%;
    max-width: none;
    height: 170px;
  }
  footer .clients .container {
    margin: 0 auto;
    padding: 0;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */